<%= render 'shared/banner', user: current_user, patients: @patients.uniq, nurses: false, task_count_all: @task_count_all, task_completed_decimal: @task_completed_decimal %>
<div class="main-container">
  <div class="grip">
    <div class="justify-content-around text-center m-3">
      <% unless  current_user.on_shift%>
      <%= form_tag(create_patient_assignment_path, remote: true) do %>
      <%= submit_tag "Start the shift", class: "btn btn-primary btn-lg w-25"%>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="leader-cards">
    <% @nurses.each_with_index do |nurse| %>
    <div class="grid-item">
      <%= link_to user_path(nurse), class: "leader-card shadow" do %>
      <% incomplete_morning_tasks_min = nurse.nurse_tasks.where(slot: 8, completed: false).map{|nurse_task| nurse_task.task_template.task.duration}.reduce(:+) || 0 %>
      <% incomplete_afternoon_tasks_min = nurse.nurse_tasks.where(slot: 12, completed: false).map{|nurse_task| nurse_task.task_template.task.duration}.reduce(:+) || 0 %>
      <div class="row">
        <div class="col-9">
          <p class="late-time mb-0">
            <% unless incomplete_morning_tasks_min == 0 %>
            <% total_min = incomplete_morning_tasks_min + incomplete_afternoon_tasks_min + 60 %>
            <% else %>
            <% total_min = incomplete_afternoon_tasks_min %>
            <% end %>
            <% unless nurse.nurse_tasks.size == 0 %>
              <%= delay = (Time.parse("17:00") - (Time.now + (total_min * 60))).round / -60  %> mins late
            <% end %>
          </p>
        </div>
        <div class="col-3">
          <% if (Time.now + (total_min * 60)) > Time.parse("17:30") %>
            <div class="d-flex">
              <i class="fas fa-stopwatch very-late"></i>
            </div>
            <% elsif (Time.now + (total_min * 60)) > Time.parse("17:00") %>
            <div class="d-flex">
              <i class="fas fa-exclamation-triangle"></i>
            </div>
          <% end %>
        </div>
      </div>
      <h5 class="pt-3"><%= nurse.name %></h5>
      <% if nurse.photo.attached? %>
      <%= cl_image_tag nurse.photo.key, class: "avatar-super-large pb-3" %>
      <% else %>
      <%= image_tag "avatar.png", class: "avatar-super-large pb-3" %>
      <% end %>
      <div class="row justify-content-center">
         <!-- This is where the element for the progress bar is found with the dataset to draw the circle -->
        <div id="task-progress" data-id="<%= nurse.id %>" data-tasks="<%= ((nurse.nurse_tasks.where(completed: true).count.to_f / nurse.nurse_tasks.count))%>"></div>
      </div>
      <div class="mt-2 text-center">
        <% patient_severitys = Patient.joins(:task_templates).joins(task_templates: :nurse_tasks).where(task_templates: { nurse_tasks: { user: nurse } }).pluck(:name, :severity).uniq%>
      </div>
      <% if patient_severitys.count > 0 %>
      <ul class="assignment-list mt-0">
        <% priority = {'Low Care' => 3, 'Medium Care' => 2, 'High Care' => 1} %>
        <% patient_severitys.sort_by { |ps| priority[ps[1]] }.each do |patient_severity| %>
        <li class="text-left <%= patient_severity[1].downcase.tr(" ", "-") %> " style="font-size: 12px;">・<%= patient_severity[0] %></li>
        <% end %>
      </ul>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
