<%= render 'shared/banner', user: current_user, patients: @patients, nurses: [@user]  %>
<div class="main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="nurse-details">
          <div class="row">
            <div class="nurse-image col">
              <%= image_tag "avatar.png", class: "avatar-mega-large" %>
            </div>
            <div class="nurse-name col">
              <h3><%= @user.name %></h3>
            </div>
          </div>
          <div class="row">
            <%= render 'shared/highlighted_nurse_task_card', patient: @active_task.task_template.patient, nurse_task: @active_task %>
            <%= @active_task.task_template.task.description %>
          </div>

        </div>
      </div>
      <div class="col-6">
        <%= render 'shared/patient_cards', patients: @patients %>
      </div>
    </div>
  </div>
</div>

