<div class="main-container">
  <div class="highlighted-task">
    <%= render 'shared/highlighted_nurse_task_card', patient: @active_task.task_template.patient, nurse_task: @active_task %>
  </div>
  <div class="row nurse-task-cards">
    <div class="col-6">
    <p>Morning</p>
      <div id="nurse-tasks-morning" class="nurse-tasks" data-url="<%= sort_nurse_tasks_path(format: :json) %>">
        <% @nurse_tasks.where(slot: 8, completed: false).each do |nurse_task| %>
          <%= link_to make_active_nurse_task_path(nurse_task), method: "patch" do %>
            <%= render 'shared/nurse_task_cards', patient: nurse_task.task_template.patient, nurse_task: nurse_task %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <p>Afternoon</p>
      <div id="nurse-tasks-afternoon" class="nurse-tasks" data-url="<%= sort_nurse_tasks_path(format: :json) %>">
          <% @nurse_tasks.where(slot: 12, completed: false).each do |nurse_task| %>
            <%= link_to make_active_nurse_task_path(nurse_task), method: "patch" do %>
              <%= render 'shared/nurse_task_cards', patient: nurse_task.task_template.patient, nurse_task: nurse_task %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <hr>
  <p>Completed tasks</p>
  <div class="row nurse-task-cards" id="completedTasks">
    <div class="col-6">
    <p>Morning</p>
      <div id="nurse-tasks-morning" data-url="<%= sort_nurse_tasks_path(format: :json) %>">
          <% @nurse_tasks.where(slot: 8, completed: true).each do |nurse_task| %>
            <%= render 'shared/nurse_task_cards', patient: nurse_task.task_template.patient, nurse_task: nurse_task %>
          <% end %>
      </div>
    </div>
    <div class="col-6">
      <p>Afternoon</p>
      <div id="nurse-tasks-afternoon" data-url="<%= sort_nurse_tasks_path(format: :json) %>">
          <% @nurse_tasks.where(slot: 12, completed: true).each do |nurse_task| %>
            <%= render 'shared/nurse_task_cards', patient: nurse_task.task_template.patient, nurse_task: nurse_task %>
          <% end %>
      </div>
    </div>
  </div>
</div>
