<div class="container-fluid mt-5 mb-n5">
  <div class="patient-overview mt-5 pt-5 shadow row">
    <div class="col">
      <div class="col text-center">
        <h2> Hi <%= user.name %>, here's a quick look at your day!</h2>
      </div>
      <div class="col d-flex justify-content-center">
        <div class=" text-center nurse-tasks-uncompleted p-3 mx-3 mb-3 shadow">
          <h5>Tasks: <%= user.nurse_tasks.count %></h5>
          <div class="row justify-content-center">
            <div id="task-progress" data-tasks="<%= ((user.nurse_tasks.where(completed: true).count.to_f / user.nurse_tasks.count))%>"></div>
          </div>
        </div>
        <div class=" offset-1 text-center nurse-patient-info p-3 mx-3 mb-3 shadow">
          <h5>Patients: <%= patients.count %></h5>
          <div class="nurse-patient-severity d-flex">
            <%= pie_chart [["High Care", @high_care_patients], ["Medium Care", @medium_care_patients], ["Low Care", @low_care_patients]], height: "80px", colors: ["#DC8478", "#ecc06c", "#b8cab8"], legend: false %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
