<div class="row" data-id="<%= nurse_task.id%>" data-slot="<%= nurse_task.slot%>" data-position="<%= nurse_task.position%>">
  <div class="col-2"> <%= nurse_task.start_time.strftime("%k:%M") if nurse_task.start_time %> </div>
  <%= link_to make_active_nurse_task_path(nurse_task),
    method: "patch",
    class: "list-group nurse-task-cards col-10 row" do %>
    <div class="list-group-item nurse-task-card text-justify <%= "active" if nurse_task.active %>">
      <div class="nurse-task-patient-name">
        <%= patient.name %>
      </div>
      <div class="nurse-task-patient-info">
        <p><i class="fa fa-university" aria-hidden="true"></i> <%= patient.room %></p>
        <p><i class="fa fa-bed" aria-hidden="true"></i> <%= patient.bed %></p>
      </div>
      <div class="nurse-task-info-description">
        <%= nurse_task.task_template.task.description %>
      </div>
      <div class="nurse-task-info-duration">
        <%= nurse_task.task_template.task.duration %> mins
      </div>
    </div>
  <% end %>
</div>
