<div class="task-card row shadow">
  <div class="task-patient-info" id=<%= nurse_task.id %>>
    <h5><%= patient.name %></h5>
    <p class="mb-2"> Room: <small><%= patient.room %></small></p>
    <p class="mb-2"> Bed: <small><%= patient.bed %></small></p>
  </div>
  <div class="task-info d-flex">
    <div class="task-info-description col-9 px-1">
      <p><%= nurse_task.task_template.task.description %></p>
    </div>
    <div class="task-info-duration col-3 px-1">
      <p><%= nurse_task.task_template.task.duration %></p>
      <a href="#" class="complete-btn btn btn-primary">I'm a button</a>
    </div>
  </div>
</div>
