<div class="task-card row shadow" data-id=<%= nurse_task.id %> data-slot=<%= nurse_task.slot %> data-position=<%= nurse_task.position %>>
  <div class="task-patient-info">
    <h5><%= patient.name %></h5>
    <h5 class="pt-1 pl-2"><i class="fas fa-door-closed"></i> <small><%= patient.room %></small></i></h5>
    <h5 class="pl-2"><i class="fa fa-bed" aria-hidden="true"> <small><%= patient.bed %></small></i></h5>
  </div>
  <div class="task-info d-flex">
    <div class="task-info-description col-8 px-1">
      <p><%= nurse_task.task_template.task.description %></p>
    </div>
    <div class="task-info-duration col-4 px-1">
      <p><%= nurse_task.task_template.task.duration %> mins</p>
      <% if nurse_task.completed == false %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= nurse_task.id %>">
          Complete
        </button>
      <% end %>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal<%= nurse_task.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Complete task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure you want to complete this task?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= link_to "Complete", complete_nurse_tasks_path(nurse_task), method: :patch, class: 'complete-btn btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
