<div class="main-container">
  <div class="patient-cards">
    <% @patients.each do |patient| %>
      <div class="patient-card row shadow">
        <div class="patient-room-info">
          <h5> Room: <small><%= patient.room %></small></h5>
          <h5> Bed: <small><%= patient.bed %></small></h5>
        </div>
        <div class="patient-info">
          <div class="patient-info-header d-flex justify-content-center">
            <h2><%= patient.name %></h2>
            <p class="pl-3 align-self-end mb-3">(234156)</p>
          </div>
          <div class="patient-info-body">
            <div class="d-flex">
              <p class="col-5 pr-2 mb-1">Gender: <%= patient.gender %></p>
              <p class="col-7 mb-1 pl-0">Dr. <%= patient.doctor.name %></p>
            </div>
            <div class="d-flex">
              <p class="col-5 mb-1">Age: <%= patient.age %></p>
              <p class="col-7 mb-1 pl-0">Contact: <%= patient.doctor.contact %></p>
            </div>
          </div>
          <div class="patient-info-footer pt-2">
            <div class="col">
              <!-- Need to get the number of nurse_tasks where completed = false. No path from template to nurse task. -->
              <h5 class="mb-0">Tasks not completed: <%= patient.task_templates.count %></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
