<div class="container-fluid mt-5 mb-n5">
  <div class="patient-overview mt-5 pt-5 shadow row">
    <div class="col">
      <div class="col text-center">
        <h2> Hi <%=current_user.name %>, here's a quick look at your day!</h2> <br>
         <h3 ><%= @nurses.count %>Nurses : <%= @patients.count %>Patients</h3>
      </div>
    </div>
  </div>
</div>

<div class="main-container">

  <div class="grip">
    <div class="justify-content-around text-center">
      <%= form_tag(create_patient_assignment_path, remote: false) do %>
        <%= submit_tag "Auto-Assign", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-around">
    <% @nurses.each do |nurse| %>
    <div class="nurse-card shadow col-2">
      <div class="mt-2 text-center">
        <% name_severitys = Patient.joins(:task_templates).joins(task_templates: :nurse_tasks).where(task_templates: { nurse_tasks: { user: nurse } }).pluck(:name, :severity).uniq%>
        <h5><%= nurse.name %></h5>
        <%= image_tag "avatar.png", class: "avatar-super-large my-3" %>
      </div>
      <% if name_severitys.count > 0 %>
        <ul class="assignment-list mt-0">
          <% name_severitys.each do |name_severity| %>
            <li class="text-left <%= name_severity[1].downcase.tr(" ", "-") %> " style="font-size: 12px;">・<%= name_severity[0] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

