
<div>
  <div class="patient-room-info">
    <p>Room:<%= @patient.room %></p>
    <p>Bed:<%= @patient.bed %></p>
  </div>
  <div>
    <h2>Name:<%= @patient.name %></h2>
    <p>(ID:<%= @patient.id %>)</p>
  </div>
</div>

<div>
  <h4><%= @doctor.name %></h4>
  <%= @doctor.contact %>
  <%= @patient.severity %>
</div>

<div>
  <% @tasktemplates.each do |template| %>
    <h5><%= template.task.description %></h5>
    <%=  pluralize template.task.duration, "min" %>
    <%=  pluralize template.frequency, "time" %>
  <% end %>
</div>

