<div class="main-container">
  <div class="row">
    <div class="col-6">
      <div>
        <div>
          <p>Room:<%= @patient.room %></p>
          <p>Bed:<%= @patient.bed %></p>
        </div>
        <div>
          <h2>Name:<%= @patient.name %></h2>
          <p>(ID:<%= @patient.id %>)</p>
        </div>
      </div>
  <div>
    <% @tasktemplates.each do |template| %>
      <h5><%= template.task.description %></h5>
      <%=  pluralize template.task.duration, "min" %>
      <%=  pluralize template.frequency, "time" %>
    <% end %>
  </div>
  <div class="task-cards-col col-6">
    <% @patient.nurse_tasks.each do |task| %>
    <%= render 'shared/task_cards', patient: @patient, nurse_task: task %>
    <% end %>
  </div>
</div>

