<div class="main-container">

  <div class="row">

    <div class="col-6">

      <div class="patient-cards">
        <div class="patient-card">
          <div class="patient-room-info">
            <p>Room:<%= @patient.room %></p>
            <p>Bed:<%= @patient.bed %></p>
          </div>
        <div class="patient-info">
          <h2><%= @patient.name %></h2>
          <p>(ID:<%= @patient.id %>)</p>
        </div>
      </div>
      </div>


      <div>
        <h4><%= @doctor.name %></h4>
        <%= @doctor.contact %>
        <%= @patient.severity %>
      </div>


      <div>
        <% @tasktemplates.each do |template| %>
          <h5><%= template.task.description %></h5>
          <p><%=  pluralize template.frequency, "time" %> (<%=  pluralize template.task.duration, "min" %>)</p>
        <% end %>
      </div>

    </div>
    <div class="task-cards-col col-6">
      <% @patient.nurse_tasks.each do |task| %>
      <%= render 'shared/task_cards', patient: @patient, nurse_task: task %>
      <% end %>
    </div>

  </div>
</div>



